body{
	margin: 0;
	padding: 0;
	background-size: cover;
}

.slider{
  	background-size: 1000px;
  	width:1000px;
  	height: 500px;
  	margin: 100px auto;
  	animation: slide 30s infinite;
}

@keyframes slide{
	0%{
		background-image: url("images/wheel.png");
	}
	20%{
		background-image: url("images/3.png"); 
	}
	40%{
		background-image: url("images/9.png"); 
	}
	60%{
		background-image: url("images/10.png"); 
	}
	80%{
		background-image: url("images/11.png"); 
	}
	100%{
		background-image: url("images/12.png"); 
	}
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 650px;
}

.bcenter{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.links {
            text-align: right;
            
        }
